<div>
	{{user.firstName}} <input placeholder="update First Name" ng-model="user.firstName" /><br /><br />
	{{user.lastName}} <input placeholder="update Last Name" ng-model="user.lastName"/><br /><br />
	{{user.email}} <input placeholder="update e-mail address" ng-model="user.email"/><br /><br />
	<input type="password" placeholder="confirm old password" ng-blur="checkPassword()"/> <br />
	<input type="password" placeholder="update password" ng-model="user.password"/><br />
	<input type="password" placeholder="confirm new password" ng-keyup="confirmPwds()" />
	<br /><br />
	<button>Update yourself!</button>


</div>