
<!-- <nav class="navbar navbar-default navbar-fixed-top feed-header" role="navigation"> -->
<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top feed-header">
  <div class="row">
  <div class="col-md-6 col-md-offset-5"><p class="white-font">Remember This Moment</p></div>
  </div>
  <div class="row">
    <div class="col-md-2">Hello, {{currentUser.firstName}}!</div>
    <div class="col-md-2">View Text</div>
    <div class="col-md-2">View Photos</div>
    <div class="col-md-2">View Videos</div>
    <div class="col-md-2"><a ng-click="goToEdit()">Edit Profile</a></div>
    <div class="col-md-2"><a ng-click="logout()">Sign Out</a></div>
  </div>
</div>
 <!--  <hr> -->
<br/><br/>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <!--<input name-of-directive class="new-post-text" ng-model="newPost" /> need to make this expand as the text expands-->
   <!--    <span contenteditable="true" class="new-post" ng-model="newPost" placeholder="What do you want to remember today?"></span> -->
      <textarea expand-text-box class="new-post-text" ng-model="newPost.text" ></textarea> 
     <!-- <input expand-text-box class="new-post-text" ng-model="newPost.text"/> DID NOT EXPAND-->
   <!--    <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span> DID NOT ALLOW TO BE WRITTEN  IN--> 
   <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="file" name="new-pic" ng-model="file" onchange="startRead()" multiple>
    <!--<button ng-click="addPost()">Pictures!</button>-->
 
      
    </div>
    <button class="btn btn-sm new-post-button text-right" ng-click="addPost()">Remember!</button><!-- want to make this a mini button -->
     </div>
  </div>
  

<div class="row">
    <div class="col-md-12"> 
      <input class="new-post-text-search" type="text" placeholder="search" ng-model="filterBy" /><!-- is really going to filter the results, so it's automatic no enter or click needed -->
    </div>
  </div>



<br/>
 	<!-- <div class="row-fluid">
    <div class="col-md-3">
  	<ul class="navbar-fixed-side-left feed-page-nav">
 			<a ng-click="logout()">Sign Out</a>
 			<li>View Text</li>
 			<li>View Photos</li>
 			<li>View Videos</li>
      <a ng-click="goToEdit()">Edit Profile</a>

 			for viewing just photos/videos/text have a function that hides the other 2. 
		</ul>
    </div>
    </div> -->
 
    <div class="row">
    <div ng-repeat="post in posts | filter: filterBy" class="col-md-12 feed-page-content">
      <!--Body content-->
      <hr>
      <p class="feed-body">{{post.text}}
      <br/>
      {{post.time | date}}</p>
      <button class="feed-body" ng-click="deletePost(post)">Delete</button>
      <hr>
    </div>
  </div>
  </div>

<!-- </nav> -->

<hr>
<nav class="navbar navbar-inverse navbar-fixed-bottom feed-footer" role="navigation">
  <div class="container">
    <p>About Us</p>
  </div>
</nav>

