<div class="search-feed">
	<input type="text" placeholder="search"/><!-- is really going to filter the results, so it's automatic no enter or click needed -->
</div>

<div class="container-fluid">
 	<div class="row-fluid">
  	<ul class="navbar-fixed-side-left feed-page-nav">
 			<li>Sign Out</li>
 			<li>View Text</li>
 			<li>View Photos</li>
 			<li>View Videos</li>

 			<!-- for viewing just photos/videos/text have a function that hides the other 2. -->
		</ul>
    <div class="col-md-10 feed-page-content">
      <!--Body content-->
      My baby rocks!

    </div>
  </div>
</div>