<!-- {{test}} -->
<div class="navbar navbar-fixed-top remember"><p class="nav-remember-font">Remember This Moment</p></div>

<div class="container remember-index">
	<div class="row-fluid">
		<div class="span9">
			<form class="form-horizontal login-form" name="login">
				<h4>Log In</h4>
				<input type="text" placeholder="Enter e-mail here" ng-model="user.email" required/>
				<br/>
				<br/>
				<input type="password" placeholder="Enter password here" ng-model="user.password" required/>
				<br/>
				<br/>
				<button ng-disabled="login.$invalid" class="btn remember-login-button" ng-click="loginUser()">Log In</button>
				<br/>
				<br/>
				Or
				<br/>
				<i class="fa fa-facebook-square login-facebook" ng-click="facebookLogin()"></i>
				<br/><br/>
				<a ng-click="signUp()">Sign Up Here!</p>

			</form>
		</div>
	</div>



