body {
	/*padding-top: 70px;*/
	background-image: url("scroll.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;

}
.remember {
	background: #44D300;

}

.nav-remember-font {
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	padding-top: 8px;
}

.remember-index {
	border: 1px solid #112906;
	min-height: 50px;
}

.remember-login-button {
	background: #246F00;
	color: white;
}

.login-form {
	text-align: center;
}

/*.search-feed {
	width: 150px;
	margin-left: 20px;
	margin-right: auto;
	padding-top: 10px;
}*/

.feed-page-nav{
	background: rgba(68, 211, 0, .2);
	/*float: left;*/
	list-style-type: none;
}

.feed-page-content{
	background: rgba(68, 211, 0, .2);

	/*float: right;*/
	
}
/*
#new-post{
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}
*/

/*.new-post{
	min-width: 500px;
	min-height: 5px;
	border: solid 1px blue;
}*/
.new-post-text {
		max-width: 50em;
		min-width: 25em;
		height: 5em;
		font-size: 13px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 3px;
		
		box-sizing: border-box;
}
.new-post-text-search {
		height: 2.5em;
		font-size: 13px;
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 3px;
		
		box-sizing: border-box;
}

.new-post-button {
	margin-left: 30px;

	background: rgb(235, 235, 47);
}
.feed-header {
	color: white;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
	/*position: fixed;*/
	/*top: 0px; */
	/*margin: auto; 
	z-index: 100000; */
}
.feed-body {
	text-align: center;
}

.feed-footer {
	color: white;
}

a {
	text-decoration: none;
	color: white;
}
/*.white-font {
	color: white !important;
}*/
